/** MONTSERRAT FONT-FACE DEFINITION **/
$font-family-name: Montserrat;
$font-family-styles: (
  'normal': '',
  'italic': 'Italic'
);
$font-family-weights: (
  100: 'Thin',
  200: 'ExtraLight',
  300: 'Light',
  400: 'Regular',
  500: 'Medium',
  600: 'SemiBold',
  700: 'Bold',
  800: 'ExtraBold',
  900: 'Black'
);

@each $weight, $wfile in $font-family-weights {
  @each $style, $sfile in $font-family-styles {
    @font-face {
      font-family: Montserrat;
      font-style: $style;
      font-weight: $weight;
      src: url(../fonts/#{$font-family-name}/#{$font-family-name}-#{$wfile}#{$sfile}.ttf) format(ttf);
    }
  }
}
