/**
 * Estilos del pie de página
 */
footer {
  color: white;

  & > .row {
    margin: -1px -15px;

    & > [class^=col] {
      padding: 15px;
    }

    @include media-breakpoint-up(sm) {
      &:not(.copyright) > [class^=col] {
        padding: 30px 15px;
      }
    }
  }

  a,
  a:hover,
  a:focus,
  a:active {
    color: white;
  }

  @include media-breakpoint-down(xs) {
    #page-links {
      padding: 0 15px;
    }
  }

  #page-links .table {
    margin: 0;

    th,
    td {
      padding: 0.25rem 0.5rem;
      vertical-align: middle;
      border: none;
    }
  }

  hr {
    width: 80%;
    margin: 0 10% 15px;
    border-top: 1px solid $lightblue;
  }

  #phone {
    font-size: 20px;
    line-height: 30px;
  }

  .row:not(.copyright) {
    background: $darkgray;
  }

  .row.copyright {
    background: $lightblue;
  }
}
