/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// stylelint-disable

// Colors
$dark: #333 !default;
$orange: #ffac1a !default;
$lightblue: #00aeef !default;
$darkgray: #4d4d4d !default;

// Options
$enable-rounded: false !default;

// Fonts
$font-family-sans-serif: Montserrat, sans-serif;

// Heading sizes
$h1-font-size: 2.25rem !default;

// stylelint-enable
