/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// stylelint-disable

// Colors
$red: #ed5242 !default;
$orange: #ffac1a !default;
$lightblue: #00aeef !default;
$darkblue: #007095 !default;
$dark: #333333 !default;
$darkgray: #4d4d4d !default;
$gray: #999999 !default;
$lightgray: #e4e4e4 !default;

// Options
$enable-rounded: false !default;

// Fonts
$font-family-sans-serif: Montserrat, sans-serif;

// stylelint-enable
