/**
 * Estilos de la barra de navegación
 */
.navbar {
	padding: 0px;
	font-size: 14px;
	background-color: $dark !important;
}
.navbar-toggler {
	width: 45px;
	height: 45px;
	padding: 0px;
	color: white;
	border: none;
	border-right: 1px solid #1a1a1a;
	outline: none !important;
	position: absolute;
	z-index: 1000;
}
.navbar-brand {
	@extend .full-width;
	margin: 0px auto;
	padding: 7.5px 0px;
	text-align: center;
	position: relative;
	
	img {
		height: 20px;
	}
}
.navbar-backdrop {
	@extend body;
	background: rgba(0, 0, 0, 0.75);
	opacity: 0;
	display: none;
	z-index: 5000;
}
.navbar-collapse {
	@extend .full-height;
	width: 75vw;
	background-color: $dark !important;
	position: absolute;
	top: 0px;
	left: -75vw;
	z-index: 6000;
	
	box-shadow: inset -5px 0px 5px 0px #1c1c1c;
	-moz-box-shadow: inset -5px 0px 5px 0px #1c1c1c;
	-webkit-box-shadow: inset -5px 0px 5px 0px #1c1c1c;
	
	.nav-link {
		padding: 12px;
		color: white !important;
		border-bottom: 1px solid #262626;
	}
}
